<!DOCTYPE html>
<html>
<head>
    <title>Thank You</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Thank You for Submitting the Form</h1>
        <br>
        <br>
        <a href="/view/{{ submission_id }}" class="btn btn-primary">View Your Submission</a>
        <a href="/update/{{ submission_id }}" class="btn btn-primary">Edit  Your Submission</a>
    </div>
</body>
</html>

